{% extends 'main.html' %}

{% load custom_filters %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-header text-center bg-dark text-white">
                    <h2>Login</h2>
                </div>
                <div class="card-body">
                    <form method="post" action="{% url 'login' %}?next={{ request.GET.next }}">
                        {% csrf_token %}
                        <div class="mb-3">
                            {{ form.username.label_tag }}
                            {{ form.username|add_class:"form-control" }}
                            {% if form.username.errors %}
                                <div class="invalid-feedback d-block">
                                    {{ form.username.errors }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="mb-3">
                            {{ form.password.label_tag }}
                            {{ form.password|add_class:"form-control" }}
                            {% if form.password.errors %}
                                <div class="invalid-feedback d-block">
                                    {{ form.password.errors }}
                                </div>
                            {% endif %}
                        </div>
                        <button type="submit" class="btn btn-dark w-100">Login</button>
                    </form>
                    <p class="mt-3 text-center">Don't have an account? <a href="{% url 'register' %}">Register</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
